[package]
name = "peniko"
version = "0.1.0"
license = "Apache-2.0 OR MIT"
edition = "2021"
description = "Primitive types for styling vector graphics"
keywords = ["graphics", "vector", "style"]
categories = ["graphics"]
repository = "https://github.com/linebender/peniko"
readme = "README.md"
# We support from Rust 1.70 to ensure that CI uses the sparse registry protocol.
# Keep in sync with RUST_MIN_VER in .github/workflows/ci.yml and with the relevant README.md files.
rust-version = "1.70"

[features]
default = ["std"]
std = ["kurbo/std"]
libm = ["kurbo/libm"]
serde = ["smallvec/serde", "kurbo/serde", "dep:serde_bytes", "dep:serde"]

[package.metadata.docs.rs]
features = ["serde"]

[dependencies]
# NOTE: Make sure to keep this in sync with the version badge in README.md
kurbo = { version = "0.11.0", default-features = false }
smallvec = "1.13.2"

[dependencies.serde]
version = "1.0.197"
optional = true
default-features = false
features = ["alloc", "derive"]

[dependencies.serde_bytes]
version = "0.11.14"
optional = true
default-features = false
features = ["alloc"]
