[package]
name = "peniko"
version = "0.1.0"
license = "MIT OR Apache-2.0"
edition = "2021"
description = "Primitive types for styling vector graphics"
keywords = ["graphics", "vector", "style"]
categories = ["graphics"]
repository = "https://github.com/linebender/peniko"
# homepage = "https://linebender.org/peniko" - no homepage has been created yet
readme = "README.md"

[dependencies]
kurbo = "0.10.2"
smallvec = "1.8.0"
